li {
  list-style-type: none;
}
.power {
  display: inline-block;
  font-size: small;
  color: white;
  background-color: #835558;
  margin-right: .8em;
  left: 0;
  border-radius: 4px 0 0 4px;
  padding: 15px 12px;
  width: 20px;
  text-align: center;
}

.heroes button {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgb(252, 238, 238);
  margin: .5em;
  padding: 0 10px 0 0;
  border-radius: 4px;
  border: #c9ced0 0.1px solid;
  width: 180px;
  text-align: left;
  font-weight: 600;
}

.heroes .selected {
  background-color: #dda4a4;
  color: #fafafa;
}

/* .name {
  width: 150px;
  padding: 30px;
  border: #405061 1px solid;
} */
