<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button [routerLink]="['/hero_details', hero.id]" [class.selected]="activeHero===hero">
          <span class="power">{{hero.power}}</span>
          <span class="name">{{hero.name | uppercase}}</span>
        </button>
        <!-- <a  [class.selected]="activeHero===hero">
          <span class="power">{{hero.power}}</span>
          <span class="name">{{hero.name | uppercase}}</span>
        </a> -->
    </li>
</ul>
