<div class="details">
  <div class="details_box" *ngIf="setHero? true : false" [ngStyle]="{'background-color': setColor(setHero.power)}">
    <div><span>ID # {{setHero.id}}</span></div>
    <h2>{{setHero.name}}</h2>
    <div>
      <!-- <h6></h6> -->
      <div>
        <span>Age : {{setHero.age}}</span><br>
        <span>Power : {{setHero.power}}</span><br>
        <span class="revelation">Revelation : {{setHero.revelation | date:'dd/MM/YYYY'}}</span>
        <p>{{setHero.details}}</p>
      </div>
    </div>
    <button (click)="showForm()">Edit</button>
  </div>
  <div class="form_box" *ngIf="activeForm">
    <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="setHero.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="details">Details</label>
        <input type="text" class="form-control" id="details"
               [(ngModel)]="setHero.details" name="details">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
    </form>
  </div>
</div>
